<a href="https://colab.research.google.com/github/nklsrmy/CCDATSCL_ASSIGNMENT_COM222/blob/main/Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [1]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Downloading from https://www.kaggle.com/api/v1/datasets/download/dgomonov/new-york-city-airbnb-open-data?dataset_version_number=3...

100%|██████████| 2.44M/2.44M [00:00<00:00, 4.03MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/dgomonov/new-york-city-airbnb-open-data/versions/3
True

## A. Discovering

Display the first 10 rows

In [7]:
# put your answer here
display(df.head(10))

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [8]:
# put your answer here
print(df.columns)

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [10]:
# put your answer here
print(df.shape)

(48895, 16)

Identify the numerical features:

In [13]:
# put your answer here
numerical_cols = df.select_dtypes(include=['number']).columns.tolist()
print(f"numerical columns: {numerical_cols}")

numerical columns: ['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']

Identify the categorical features

In [14]:
# put your answer here
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
print(f"categorical columns: {categorical_cols}")

categorical columns: ['name', 'host_name', 'neighbourhood_group', 'neighbourhood', 'room_type', 'last_review']

What are the top 5 questions this dataset might help answer?

In [20]:
# put your answer here
print("1. What is the average price of an Airbnb listing in different neighborhoods or boroughs of NYC?")
print("2. How does the number of reviews or review frequency relate to the price or availability of a listing?")
print("3. Which host has the most listings, and are there any patterns in their pricing or room types?")
print("4. What are the most popular room types and neighborhoods for Airbnb rentals in NYC?")
print("5. Is there a correlation between the geographical location (latitude, longitude) and the price or minimum nights of a listing?")

1. What is the average price of an Airbnb listing in different neighborhoods or boroughs of NYC?
2. How does the number of reviews or review frequency relate to the price or availability of a listing?
3. Which host has the most listings, and are there any patterns in their pricing or room types?
4. What are the most popular room types and neighborhoods for Airbnb rentals in NYC?
5. Is there a correlation between the geographical location (latitude, longitude) and the price or minimum nights of a listing?

## B. Structuring

Check if the dataset has proper column types

In [21]:
# put your answer here
print(df.dtypes)

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

Check if the dataset has index issues

In [22]:
# put your answer here
print(df.index)

RangeIndex(start=0, stop=48895, step=1)

Check if the dataset has duplicated rows

In [23]:
# put your answer here
print(df.duplicated().sum)

<bound method Series.sum of 0        False
1        False
2        False
3        False
4        False
         ...
48890    False
48891    False
48892    False
48893    False
48894    False
Length: 48895, dtype: bool>

Convert columns to correct types (e.g., dates → datetime).

In [24]:
# put your answer here
df['last_review'] = pd.to_datetime(df['last_review'])
print(df.dtypes)

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

Identify at least one structural issue and describe how to fix it.

In [ ]:
# put your answer here

## C. Cleaning

Check for missing values

In [25]:
# put your answer here
print(df.isnull().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [26]:
# put your answer here
print(df['minimum_nights'].describe())

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

Check for invalid values (e.g., price ≤ 0)

In [29]:
# put your answer here
print(df[df['price'] <= 0])

             id                                               name    host_id  \
23161  18750597  Huge Brooklyn Brownstone Living, Close to it all.    8993084
25433  20333471      ★Hostel Style Room | Ideal Traveling Buddies★  131697576
25634  20523843    MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)   15787004
25753  20608117                    Sunny, Quiet Room in Greenpoint    1641537
25778  20624541      Modern apartment in the heart of Williamsburg   10132166
25794  20639628  Spacious comfortable master bedroom with nice ...   86327101
25795  20639792  Contemporary bedroom in brownstone with nice view   86327101
25796  20639914       Cozy yet spacious private brownstone bedroom   86327101
26259  20933849                              the best you can find   13709292
26841  21291569  Coliving in Brooklyn! Modern design / Shared room  101970559
26866  21304320             Best Coliving space ever! Shared room.  101970559

          host_name neighbourhood_group       neighbourhood  latitude  \
23161      Kimberly            Brooklyn  Bedford-Stuyvesant  40.69023
25433        Anisha               Bronx     East Morrisania  40.83296
25634  Martial Loft            Brooklyn            Bushwick  40.69467
25753        Lauren            Brooklyn          Greenpoint  40.72462
25778       Aymeric            Brooklyn        Williamsburg  40.70838
25794       Adeyemi            Brooklyn  Bedford-Stuyvesant  40.68173
25795       Adeyemi            Brooklyn  Bedford-Stuyvesant  40.68279
25796       Adeyemi            Brooklyn  Bedford-Stuyvesant  40.68258
26259        Qiuchi           Manhattan         Murray Hill  40.75091
26841        Sergii            Brooklyn            Bushwick  40.69211
26866        Sergii            Brooklyn            Bushwick  40.69166

       longitude        room_type  price  minimum_nights  number_of_reviews  \
23161  -73.95428     Private room      0               4                  1
25433  -73.88668     Private room      0               2                 55
25634  -73.92433     Private room      0               2                 16
25753  -73.94072     Private room      0               2                 12
25778  -73.94645  Entire home/apt      0               5                  3
25794  -73.91342     Private room      0               1                 93
25795  -73.91170     Private room      0               1                 95
25796  -73.91284     Private room      0               1                 95
26259  -73.97597  Entire home/apt      0               3                  0
26841  -73.90670      Shared room      0              30                  2
26866  -73.90928      Shared room      0              30                  5

      last_review  reviews_per_month  calculated_host_listings_count  \
23161  2018-01-06               0.05                               4
25433  2019-06-24               2.56                               4
25634  2019-05-18               0.71                               5
25753  2017-10-27               0.53                               2
25778  2018-01-02               0.15                               1
25794  2019-06-15               4.28                               6
25795  2019-06-21               4.37                               6
25796  2019-06-23               4.35                               6
26259         NaT                NaN                               1
26841  2019-06-22               0.11                               6
26866  2019-05-24               0.26                               6

       availability_365
23161                28
25433               127
25634                 0
25753                 0
25778                73
25794               176
25795               232
25796               222
26259                 0
26841               333
26866               139

Apply a missing-value strategy (drop, fill, or flag)

In [30]:
# put your answer here
df.dropna(inplace=True)

Apply an outlier-handling strategy

In [31]:
# put your answer here
df = df[df["price"] > 0]

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [33]:
# put your answer here
df['price_per_minimum_night'] = df['price'] / df['minimum_nights']
df['review_rate_per_month'] = df['number_of_reviews'] * df['reviews_per_month']
df['is_expensive'] = df['price'] > 1000

/tmp/ipython-input-131226141.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_per_minimum_night'] = df['price'] / df['minimum_nights']
/tmp/ipython-input-131226141.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['review_rate_per_month'] = df['number_of_reviews'] * df['reviews_per_month']
/tmp/ipython-input-131226141.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['is_expensive'] = df['price'] > 1000

Create 1 aggregated summary table

(e.g. average price per neighborhood number of hosts per borough)

In [34]:
# put your answer here
df.groupby('neighbourhood_group')['price'].mean()
df.groupby('neighbourhood_group')['host_id'].count()

neighbourhood_group
Bronx              874
Brooklyn         16430
Manhattan        16621
Queens            4572
Staten Island      314
Name: host_id, dtype: int64

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [43]:
# put your answer here
df = df[df['price'] > 0]
df = df[df['host_id'] != 0]
df = df[df['minimum_nights'] >= 1]
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
price_per_minimum_night           0
review_rate_per_month             0
is_expensive                      0
dtype: int64

In [46]:
# Count violations for each rule
# Define the validation rules as a dictionary
rules = {
    "Price must be positive": df['price'] <= 0,
    "Host ID should not be null": df['host_id'].isnull(), # host_id is int, so .isnull() will be all False after dropna
    "Minimum nights must be \u2265 1": df['minimum_nights'] < 1
}

violations_count = {}
for rule_name, condition in rules.items():
    count = condition.sum()
    violations_count[rule_name] = count

print("Violation Counts:")
for rule_name, count in violations_count.items():
    print(f"* {rule_name}: {count} row(s) violating this rule")

Violation Counts:
* Price must be positive: 0 row(s) violating this rule
* Host ID should not be null: 0 row(s) violating this rule
* Minimum nights must be ≥ 1: 0 row(s) violating this rule

## F. Publishing

Select final columns for publication.

In [50]:
# put your answer here
final_columns = [
    "id", "name", "host_id", "host_name", "neighbourhood_group",
    "neighbourhood", "room_type", "price", "minimum_nights", "number_of_reviews", "availability_365"
]

Export cleaned dataset as "cleaned_airbnb.csv"

In [51]:
# put your answer here
df[final_columns].to_csv("cleaned_airbnb.csv", index=False)

Export summary reports (e.g., validation or aggregations) as CSV.

In [54]:
# put your answer here
df.to_csv("validation_report.csv", index=False)
df.to_csv("airbnb_agg_neighbourhood_group.csv", index=False)